@import "compass/css3"; // compass css3 helpers

@import "font-awesome/variables";
@import "font-awesome/mixins";

@import "variables";
@import "mixins";


.elgg-dropzone {
	* {
		@include box-sizing(border-box);
		font-family: 'Open Sans', 'sans-serif';
		text-align: center;
	}
	.elgg-input-dropzone {
		position: relative;
		min-height: 100px;
		padding: 1px;
		border: 1px solid $border-color;
		.elgg-dropzone-instructions {
			cursor: pointer;
			font-size: 16px;
			text-align: center;
			display: block;
			padding: 20px;
			padding-top: 70px;
			strong, span {
				line-height: 20px;
				color: $border-color;
			}
			&:before {
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
				font-size: 50px;
				@include icon;
				content: $fa-var-cloud-upload;
				color: $border-color;
				margin: 0 auto;
				line-height: 50px;
				padding: 20px 0;
				z-index: 1;
			}
		}
	}

	.elgg-dropzone-preview {
		display: inline-block;
		vertical-align: top;
		width: 28.333%;
		border: 0;
		margin: 10px 2%;
		text-align: center;
		padding: 2px;
		position: relative;
		&:hover {
			@include box-shadow(0 0 3px $primary-color);
		}
		&.elgg-dropzone-error:hover {
			@include box-shadow(0 0 3px $error-color);
		}
		.elgg-dropzone-filename {
			display: none;
		}
		.elgg-dropzone-size {
			position: absolute;
			right: 0;
			top: 0;
			margin: 1px;
			border: 1px solid #FFF;
			padding: 2px 4px;
			background: $primary-color;
			color: #fff;
			font-size: 10px;
		}
		.elgg-dropzone-thumbnail {
			position: relative;
			width: 100%;
			text-align: center;
			background: #f4f4f4;
			min-height: 150px;
			img {
				width: 100%;
			}
		}
		.elgg-dropzone-filename {
			display: none;
		}
		.elgg-dropzone-progress {
			height: 14px;
			border: 1px solid $primary-color;
			padding: 1px;
			position: relative;
			margin: 5px 10px;
		}
		.elgg-dropzone-upload {
			position: absolute;
			background: $primary-color;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			border: 1px solid #FFF;
		}
		.elgg-dropzone-success-icon {
			@include icon;
			display: none;
			position: absolute;
			right: 0;
			top: 0;
			margin: 5px;
			font-size: 20px;
			color: $primary-color;
			&:before {
				content: $fa-var-check;
			}
		}
		.elgg-dropzone-error-icon {
			@include icon;
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			right: 0;
			left: 0;
			top: 50%;
			margin-top: -20px;
			font-size: 40px;
			color: $error-color;
			&:before {
				content: $fa-var-ban;
			}
		}
		.elgg-dropzone-remove-icon {
			@include icon;
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			font-size: 20px;
			color: $error-color;
			&:before {
				content: $fa-var-times-circle;
			}
		}

		&:hover .elgg-dropzone-remove-icon {
			display: block;
		}

		.elgg-dropzone-success-message {
			display: none;
			bottom: 0;
			background: white;
			width: 100%;
			height: inherit;
			color: $primary-color;
		}

		.elgg-dropzone-error-message {
			display: none;
			bottom: 0;
			background: white;
			width: 100%;
			height: inherit;
			color: $error-color;
		}

		&.elgg-dropzone-success {
			.elgg-dropzone-success-icon, .elgg-dropzone-success-message {
				display: block;
			}
			.elgg-dropzone-size {
				display: none;
			}
		}

		&.elgg-dropzone-error {
			.elgg-dropzone-progress {
				border-color: $error-color;
				.elgg-dropzone-upload {
					background: $error-color;
				}
			}
			.elgg-dropzone-error-icon, .elgg-dropzone-error-message {
				display: block;
			}
			.elgg-dropzone-size {
				display: none;
			}
		}
	}

}