.elgg-dropzone * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', 'sans-serif';
  text-align: center;
}
.elgg-dropzone .elgg-input-dropzone {
  position: relative;
  min-height: 100px;
  padding: 1px;
  border: 1px solid #cccccc;
}
.elgg-dropzone .elgg-input-dropzone .elgg-dropzone-instructions {
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: block;
  padding: 20px;
  padding-top: 70px;
}
.elgg-dropzone .elgg-input-dropzone .elgg-dropzone-instructions strong, .elgg-dropzone .elgg-input-dropzone .elgg-dropzone-instructions span {
  line-height: 20px;
  color: #cccccc;
}
.elgg-dropzone .elgg-input-dropzone .elgg-dropzone-instructions:before {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 50px;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0ee";
  color: #cccccc;
  margin: 0 auto;
  line-height: 50px;
  padding: 20px 0;
  z-index: 1;
}
.elgg-dropzone .elgg-dropzone-preview {
  display: inline-block;
  vertical-align: top;
  width: 28.333%;
  border: 0;
  margin: 10px 2%;
  text-align: center;
  padding: 2px;
  position: relative;
}
.elgg-dropzone .elgg-dropzone-preview:hover {
  -webkit-box-shadow: 0 0 3px #0054a7;
  -moz-box-shadow: 0 0 3px #0054a7;
  box-shadow: 0 0 3px #0054a7;
}
.elgg-dropzone .elgg-dropzone-preview.elgg-dropzone-error:hover {
  -webkit-box-shadow: 0 0 3px #900000;
  -moz-box-shadow: 0 0 3px #900000;
  box-shadow: 0 0 3px #900000;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-filename {
  display: none;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-size {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1px;
  border: 1px solid #FFF;
  padding: 2px 4px;
  background: #0054a7;
  color: #fff;
  font-size: 10px;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-thumbnail {
  position: relative;
  width: 100%;
  text-align: center;
  background: #f4f4f4;
  min-height: 150px;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-thumbnail img {
  width: 100%;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-filename {
  display: none;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-progress {
  height: 14px;
  border: 1px solid #0054a7;
  padding: 1px;
  position: relative;
  margin: 5px 10px;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-upload {
  position: absolute;
  background: #0054a7;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #FFF;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-success-icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  font-size: 20px;
  color: #0054a7;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-success-icon:before {
  content: "\f00c";
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-error-icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 50%;
  margin-top: -20px;
  font-size: 40px;
  color: #900000;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-error-icon:before {
  content: "\f05e";
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-remove-icon {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 20px;
  color: #900000;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-remove-icon:before {
  content: "\f057";
}
.elgg-dropzone .elgg-dropzone-preview:hover .elgg-dropzone-remove-icon {
  display: block;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-success-message {
  display: none;
  bottom: 0;
  background: white;
  width: 100%;
  height: inherit;
  color: #0054a7;
}
.elgg-dropzone .elgg-dropzone-preview .elgg-dropzone-error-message {
  display: none;
  bottom: 0;
  background: white;
  width: 100%;
  height: inherit;
  color: #900000;
}
.elgg-dropzone .elgg-dropzone-preview.elgg-dropzone-success .elgg-dropzone-success-icon, .elgg-dropzone .elgg-dropzone-preview.elgg-dropzone-success .elgg-dropzone-success-message {
  display: block;
}
.elgg-dropzone .elgg-dropzone-preview.elgg-dropzone-success .elgg-dropzone-size {
  display: none;
}
.elgg-dropzone .elgg-dropzone-preview.elgg-dropzone-error .elgg-dropzone-progress {
  border-color: #900000;
}
.elgg-dropzone .elgg-dropzone-preview.elgg-dropzone-error .elgg-dropzone-progress .elgg-dropzone-upload {
  background: #900000;
}
.elgg-dropzone .elgg-dropzone-preview.elgg-dropzone-error .elgg-dropzone-error-icon, .elgg-dropzone .elgg-dropzone-preview.elgg-dropzone-error .elgg-dropzone-error-message {
  display: block;
}
.elgg-dropzone .elgg-dropzone-preview.elgg-dropzone-error .elgg-dropzone-size {
  display: none;
}
